<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">
        <h1 class="text-center">Car Brands</h1>
        <div class="row">
            <div class="container col-10">
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Car Brand Name</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" id="carBrandId">
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">
                        <label>Country</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" id="countryId">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" onclick="addCarBrand()">Add New Brand</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="row mt-3 mb-3">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Country</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>

            </div>
        </div>

        <div class="modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Car Brand Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label>NAME</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" id="brandDetailsId">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <label>Country</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" id="countryDetailsId">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="updateBrand()">SAVE</button>
                    </div>

                    <script type="text/javascript" defer>
                        function updateBrand(){
                            const httpRequest = new XMLHttpRequest();
                            httpRequest.open("PUT", "/car-brands", true);
                            httpRequest.setRequestHeader('Content-Type', 'application/json');

                            let id = branId;
                            let nameBrand = document.getElementById("brandDetailsId").value;
                            let nameCountry = document.getElementById("countryDetailsId").value;


                            httpRequest.onreadystatechange = function (){
                                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                                    detailsModal.hide();
                                    loadCarBrands();
                                }
                            };

                            let body = {
                                id: id,
                                name: nameBrand,
                                country: nameCountry,
                            };

                            body = JSON.stringify(body);
                            httpRequest.send(body);

                        }
                    </script>
                </div>
            </div>
        </div>

        <script type="text/javascript" defer>

            loadCarBrands();

            let branId;
            function addCarBrand() {
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/car-brands", true);
                httpRequest.setRequestHeader('Content-Type', 'application/json');


                let carBrand = document.getElementById("carBrandId").value;
                let country = document.getElementById("countryId").value;


                let brandData = {
                    name: carBrand,
                    country: country,
                };

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        window.location.href = "/add-car-brand";
                    }
                };
                httpRequest.send(JSON.stringify(brandData));
            }

            function loadCarBrands() {
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/car-brands", true);
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                        const brands = JSON.parse(httpRequest.responseText);

                        let tableContent = "";

                        for (let i = 0; i < brands.length; i++){
                            tableContent+="<tr>";
                            tableContent+="<td>"+brands[i].id+"</td>";
                            tableContent+="<td>"+brands[i].name+"</td>";
                            tableContent+="<td>"+brands[i].country+"</td>";
                            tableContent+="<td><button class='btn btn-primary btn-sm' onclick='openCourseDetailsModal("+brands[i].id+")'>DETAILS</button></td>";
                            tableContent+="</tr>";
                        }
                        document.getElementById("tableBody").innerHTML = tableContent;
                    }
                };
                httpRequest.send();
            }

            function openCourseDetailsModal(id){

                detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'));


                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/car-brands/"+id, true);
                httpRequest.onreadystatechange = function (){

                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                        let result = JSON.parse(httpRequest.responseText);

                        document.getElementById("brandDetailsId").value = result.name;
                        document.getElementById("countryDetailsId").value = result.country;
                        branId = result.id;

                        detailsModal.show();
                    }

                }
                httpRequest.send();

            }
        </script>
    </div>
</html>