<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">
        <h1 class="text-center">Cities</h1>
        <div class="row">
            <div class="container col-10">
                <div class="row mt-3">
                    <div class="col-12">
                        <label>City Name</label>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <input type="text" class="form-control" id="cityId">
                    </div>
                </div>

                <div class="row mt-3">
                    <div class="col-12">
                        <button type="button" class="btn btn-primary" onclick="addCity()">Add New City</button>
                    </div>
                </div>

            </div>
        </div>


        <div class="row mt-3 mb-3">
            <div class="col-12">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Details</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                    </tbody>
                </table>

            </div>
        </div>

        <div class="modal fade" id="detailsModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">City Details</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-12">
                                <label>NAME</label>
                            </div>
                        </div>
                        <div class="row mt-2">
                            <div class="col-12">
                                <input type="text" class="form-control" id="cityDetailsId">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="updateCity()">SAVE</button>
                    </div>

                    <script type="text/javascript" defer>
                        function updateCity(){
                            const httpRequest = new XMLHttpRequest();
                            httpRequest.open("PUT", "/city", true);
                            httpRequest.setRequestHeader('Content-Type', 'application/json');

                            let id = cityId;
                            let nameCity = document.getElementById("cityDetailsId").value;


                            httpRequest.onreadystatechange = function (){
                                if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                                    detailsModal.hide();
                                    loadCities();
                                }
                            };

                            let body = {
                                id: id,
                                name: nameCity
                            };

                            body = JSON.stringify(body);
                            httpRequest.send(body);

                        }
                    </script>
                </div>
            </div>
        </div>

        <script type="text/javascript" defer>

            loadCities();

            let cityId;
            function addCity() {
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("POST", "/city", true);
                httpRequest.setRequestHeader('Content-Type', 'application/json');


                let city = document.getElementById("cityId").value;


                let cityData = {
                    name: city
                };

                httpRequest.onreadystatechange = function () {
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                        window.location.href = "/add-city";
                    }
                };
                httpRequest.send(JSON.stringify(cityData));
            }

            function loadCities() {
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/city", true);
                httpRequest.onreadystatechange = function() {
                    if (httpRequest.readyState === XMLHttpRequest.DONE && httpRequest.status === 200) {
                        const cities = JSON.parse(httpRequest.responseText);

                        let tableContent = "";

                        for (let i = 0; i < cities.length; i++){
                            tableContent+="<tr>";
                            tableContent+="<td>"+cities[i].id+"</td>";
                            tableContent+="<td>"+cities[i].name+"</td>";
                            tableContent+="<td><button class='btn btn-primary btn-sm' onclick='openCourseDetailsModal("+cities[i].id+")'>DETAILS</button></td>";
                            tableContent+="</tr>";
                        }
                        document.getElementById("tableBody").innerHTML = tableContent;
                    }
                };
                httpRequest.send();
            }

            function openCourseDetailsModal(id){

                detailsModal = new bootstrap.Modal(document.getElementById('detailsModal'));


                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/city/"+id, true);
                httpRequest.onreadystatechange = function (){

                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                        let result = JSON.parse(httpRequest.responseText);

                        document.getElementById("cityDetailsId").value = result.name;
                        cityId = result.id;

                        detailsModal.show();
                    }

                }
                httpRequest.send();

            }
        </script>
    </div>
</html>