<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">
        <div class="row">
            <div class="col-6 mx-auto">
                <form th:action="@{'/change-password'}" method="post">
                    <div class="row">
                        <div class="col-12">
                            <label>OLD PASSWORD: </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="password" name="old_password" class="form-control" required placeholder="Old Password...">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>NEW PASSWORD: </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="password" name="new_password" class="form-control" required placeholder="New Password...">
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <label>REPEAT NEW PASSWORD: </label>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <input type="password" name="re_new_password" class="form-control" required placeholder="New Password...">
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <button class="btn btn-success">Change Password</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</html>