<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="main_layout.html"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div layout:fragment="content">
        <section style="background-color: #eee;" id="profileBody">
        </section>

        <script type="text/javascript">

            let currentUrl = window.location.href;
            let urlParts = currentUrl.split('/');
            let id = urlParts[urlParts.length - 1];

            let permissionList;
            let userEmail;
            let userFullName;
            let userStatus;
            let allPermissionsList;
            let availablePermissionList


            loadUser(id);
            loadPermissions();
            let isPermissionsLoaded = false;
            function loadUser(id){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/users/"+id, true);
                httpRequest.onreadystatechange = function (){
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){

                        let user = JSON.parse(httpRequest.responseText);

                        let profileContent = "";

                        userEmail = user.email;
                        userFullName = user.fullName;
                        userStatus = user.status;
                        permissionList = user.permissionsDTO;


                        let userStatusText = "";
                        if (userStatus){
                            userStatusText = "Active";
                        } else {
                            userStatusText = "Blocked";
                        }

                        profileContent += `
                        <div class="container py-5">
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="card mb-4">
                                        <div class="card-body text-center">
                                            <h5 class="my-3">${userFullName}</h5>
                                            <div class="d-flex justify-content-center mb-2">
                                                <button id="deleteButton" type="button" class="btn btn-primary"></button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-8">
                                    <div class="card mb-4">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Full Name</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">${userFullName}</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Email</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">${userEmail}</p>
                                                </div>
                                            </div>
                                            <hr>
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="mb-0">Status</p>
                                                </div>
                                                <div class="col-sm-9">
                                                    <p class="text-muted mb-0">${userStatusText}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="card mb-4 mb-md-0">
                                                <div class="card-body">
                                                    <h3 class="mb-4 text-center"><span class="text-primary font-italic me-1">Current</span> Roles</h3>
                                                    ${generateRoleButtons(permissionList)}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="card mb-4 mb-md-0">
                                                <div class="card-body">
                                                    <h3 class="mb-4 text-center"><span class="text-primary font-italic me-1">Assign</span> Role</h3>
                                                    ${availableRoleButtons()}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        `;


                        document.getElementById("profileBody").innerHTML = profileContent;

                        let deleteButton = document.getElementById("deleteButton");
                        if (userStatus) {
                            deleteButton.textContent = "Delete";
                            deleteButton.addEventListener("click", deleteUser);
                        } else {
                            deleteButton.textContent = "Unlock";
                            deleteButton.addEventListener("click", restoreUser);
                        }}
                }
                httpRequest.send();
            }

            function loadPermissions(){
                const httpRequest = new XMLHttpRequest();
                httpRequest.open("GET", "/permissions", true);
                httpRequest.onreadystatechange = function (){
                    if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200){
                        allPermissionsList = JSON.parse(httpRequest.responseText);
                        isPermissionsLoaded = true;
                        updateAvailablePermissions();
                        loadUser(id);
                    }
                }
                httpRequest.send();
            }

            function generateRoleButtons(permissionList) {
                let buttonsHtml = '';
                for (let permission of permissionList) {
                    let roleName = permission.role;
                    buttonsHtml += `<button type="button" class="btn btn-sm btn-secondary m-2" onclick="removeRole('${roleName}')">${roleName} >>></button>`;
                }
                return buttonsHtml;
            }

            function availableRoleButtons() {
                if (!isPermissionsLoaded) {
                    return '';
                }
                availablePermissionList = allPermissionsList.filter(permission => !permissionList.some(existingPermission => existingPermission.role === permission.role));
                let buttonsHtml = '';
                for (let permission of availablePermissionList) {
                    let roleName = permission.role;
                    buttonsHtml += `<button type="button" class="btn btn-sm btn-secondary m-2" onclick="assignRole('${roleName}')"><<< ${roleName}</button>`;
                }
                return buttonsHtml;
            }

            function deleteUser() {
                let approve = confirm("Are you sure to delete this user?");

                if (approve){

                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE", "/users", true);
                    httpRequest.setRequestHeader('Content-Type', 'application/json');
                    userStatus = false;

                    let userData = {
                        id: id,
                        email: userEmail,
                        fullName: userFullName,
                        status: userStatus,
                        permissionsDTO: permissionList
                    };

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                            loadUser(id);
                        }
                    };

                    httpRequest.send(JSON.stringify(userData));
                }
            }

            function restoreUser() {
                let approve = confirm("Are you sure to unlock this user?");

                if (approve){

                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("DELETE", "/users", true);
                    httpRequest.setRequestHeader('Content-Type', 'application/json');
                    userStatus = true;

                    let userData = {
                        id: id,
                        email: userEmail,
                        fullName: userFullName,
                        status: userStatus,
                        permissionsDTO: permissionList
                    };

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                            loadUser(id);
                        }
                    };

                    httpRequest.send(JSON.stringify(userData));
                }
            }

            function removeRole(roleName) {
                let approve = confirm("Are you sure to delete role from this user?");

                if (approve){

                    permissionList = permissionList.filter(permission => permission.role !== roleName);

                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("PUT", "/users", true);
                    httpRequest.setRequestHeader('Content-Type', 'application/json');



                    let userData = {
                        id: id,
                        email: userEmail,
                        fullName: userFullName,
                        status: userStatus,
                        permissionsDTO: permissionList
                    };

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                            loadUser(id);
                        }
                    };

                    httpRequest.send(JSON.stringify(userData));
                }

            }

            function assignRole(roleName) {

                const selectedPermission = allPermissionsList.find(permission => permission.role === roleName);

                if (selectedPermission) {
                    permissionList.push(selectedPermission);
                    availablePermissionList = availablePermissionList.filter(permission => permission.role !== roleName);
                    const httpRequest = new XMLHttpRequest();
                    httpRequest.open("PUT", "/users", true);
                    httpRequest.setRequestHeader('Content-Type', 'application/json');



                    let userData = {
                        id: id,
                        email: userEmail,
                        fullName: userFullName,
                        status: userStatus,
                        permissionsDTO: permissionList
                    };

                    httpRequest.onreadystatechange = function () {
                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                            loadUser(id);
                            updateAvailablePermissions();
                        }
                    };

                    httpRequest.send(JSON.stringify(userData));
                }

            }

            function updateAvailablePermissions() {
                if (!allPermissionsList) return;
                availablePermissionList = allPermissionsList.filter(permission => !permissionList.some(existingPermission => existingPermission.role === permission.role));
                const availableRoleButtonsHtml = availableRoleButtons();
                const availableRoleButtonsContainer = document.getElementById("availableRoleButtonsContainer");
                if (availableRoleButtonsContainer) {
                    availableRoleButtonsContainer.innerHTML = availableRoleButtonsHtml;
                }
            }




        </script>
    </div>



</html>